<div class="container">
  <div class="header">
    <h1><%= @task.title %></h1>
    <%= link_to(edit_task_path(@task.id), id: 'edit') { %> <i class="fas fa-pencil-alt"></i> Edit task <% } %>
  </div>

  <div class="description"><%= @task.description %></div>
  <div class="completed">
    <% if @task.completed %>
      <i class="far fa-check-square"></i> <p>This task is completed.</p>
    <% else %>
      <i class="far fa-square"></i> <p>This task is not completed.</p>
    <% end %>
  </div>
  <%= link_to(tasks_path, class: 'footer') { %> <i class="fas fa-history"></i> Back to list<% } %>
</div>
